<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="styles.css">
    <title><%= title %></title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <div class="title">AMEJZING PODCASTS</div>
            <div class="bars">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
        <div class="menu">
            <a href="/">Home</a>
            <a href="/add">Add Users</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
    </div>